.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    height: 50px;
    width: 50px;
    background-image: url(images.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.nav {
    border: 1px
}

div {
    border: 1px  solid;
    height: 50px;
    width: 50px;
    background-image: url(images.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}